

body {
	width: 100%;
}
/*.header {
	background-color: #D3D3D3;
}*/

.nav-pills li {
	font-size: 225%;
/*	border-style: solid;
	border-color: #C0C0C0;*/
	border-width: 8px;
}

.nav a {
	color: #C0C0C0;
}

.nav-pills>li.active>a {
	text-decoration: underline;
	color: #D3D3D3;
	background-color: white;
}

.nav-pills>li.active>a:focus {
	text-decoration: underline;
	color: #D3D3D3;
	background-color: white;
}

.nav-pills>li.active>a:hover {
	text-decoration: underline;
	color: #D3D3D3;
	background-color: white;
}

.jumbotron {
	position: relative;
	background: url("thebarmain.jpg") center center;
	background-size: cover;
	height: 625px;
	margin-bottom: 0px;
}

.nameFade h1 {
	font-size: 80px;
	padding-top: 11%;
	padding-bottom: 0px;
	padding-left: 20%;
	color: #ffffff;
}

.nameFade h2 {
	height: 50px;
	width: 500px;
	color: #ffffff;
	margin: auto;
	font-size: 30px;
	border-style: solid;
	border-width: 8px;
	text-align: center;
	border-color: #C0C0C0;
}

img:hover {
	opacity: 1;
}




/*for about us*/
.aboutus {
	height: 50px;
	position: relative;
	padding-left: 50px;
}
.aboutus h3 {
	font-size: 50px;
	padding-bottom: 0px;
	padding-left: 20%;
	color: black;
}
.aboutus p{
	font-size: 15px;
	padding-bottom: 0px;
	padding-left: 20%;
	color: #808080;
	margin-bottom: 10px;
}
.bareaster img {
	max-width:100%;
	border-style: solid;
	border-width: 8px;
	border-color: #C0C0C0;
}

.bareaster {
	position: relative;
	height: 625px;
	margin-bottom: 0px;
}

.whereMeet h4{
	font-size: 40px bold;
	padding-bottom: 0px;
	padding-left: 5%;
	color: black;
}



#googleMap {
	height: 300px;
	padding-left: 40%;
	padding-right: 40%;
	float: center;
	margin: 10px;
	border-style: solid;
	border-width: 8px;
	text-align: center;
	border-color: #C0C0C0;
}

/*for gallery*/
.thumbnail p{
	font-size: 15px;
}
.content img {
	max-width:100%;
	opacity: 0.8;
}
.content img:hover {
	opacity: 1;
}
.content .thumbnail h3, .content .thumbnail p {
	padding-left: 15px;
	padding-right: 15px;
}
.main img {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.contentPictures img {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.verse p{
	display: block;
	width: 500px;
	padding-left: 50px;
	padding-right: 50px;
	margin: auto;
	border-style: solid;
	border-width: 8px;
	text-align: center;
	text-decoration: none;
	border-color: #C0C0C0;
}

.footer p{
	display: block;
	float: right;
	height: 10px;
	display: inline;
}

@media only screen and (max-width: 480px) {
	.nav a{
		font-size: 60%;
	}
	.nameFade h1 {
		font-size: 50px;
		padding-left: 8%;
		padding-top: 20%;
	}
	.nameFade h2 {
		padding-left: 8px;
	}
	.jumbotron {
		background: url("thebarmain.jpg") 70% 100%;
	}

}

@media only screen and (min-width: 480px) and (max-width: 768px) {
	.nav a{
		font-size: 70%;
	}
	.nameFade h1{
		font-size: 60px;
		padding-left: 10%;
	}
	.nameFade h2{
		padding-left: 10%;
	}
	.jumbotron{
		background: url("thebarmain.jpg") 65% 100%;
	}
}