<!DOCTYPE html>
<html lang="en">
<head>
	<meta name = 'viewport' content='width=device-width, initial-scale=1'>
<title>Portfolio</title>
<meta charset = "UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/portfolio.css"/>
<script src="js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<div class = "header">
			<ul class = "nav nav-pills nav-justified">
			<li ><a href = "index.html">home</a></li>
			<li ><a href = "aboutus.html">about us</a></li>
			<li ><a href = "gallery.html">gallery</a></li>
			<li class = "active"><a href = "join.html">interested?</a></li>
			</ul>
	</div>
	<div class = "join">
			<div class = "bumble">
			<a href = "http://annarbor.hmcc.net/signups/life-group">
			<h3>Interested in joining?</h3></a>
			</div>

	</div>

	<div class = "contact">		
		<h3>Contact us at: goingtotheBAR@umich.edu</h3>
		<div class = "col-sm-6 col-md-3">
		<a href="https://www.facebook.com/hmcc.aa" title="HMCC Ann Arbor Facebook page" target="_blank"><img src="static/icons/fb.jpg"></a>
		<a href="https://twitter.com/HMCC_AA" title="HMCC Ann Arbor Twitter account" target="_blank"><img src="static/icons/twitter.jpg"></a>
		<a href="http://vimeo.com/hmccannarbor" title="HMCC Ann Arbor Vimeo channel" target="_blank"><img src="static/icons/vimeo.jpg"></a>
		<a href="https://www.youtube.com/hmccannarbor" title="HMCC Ann Arbor YouTube channel" target="_blank"><img src="static/icons/yt.jpg"></a>
		<a href="https://www.instagram.com/hmcc_aa/" title="HMCC Ann Arbor Instagram" target="_blank"><img src="static/icons/ig.jpg"></a>
		<a href="https://play.spotify.com/user/hmccofaa" title="HMCC Ann Arbor Spotify channel" target="_blank"><img src="static/icons/spotify.jpg"></a>
		</div>
	</div>

	<div class = "footer">
		<p>Copyright &copy; Jason Qin from University of Michigan<a href="http://umich.edu">University of Michigan</a>.</p>
	</div>
</body>
</html>