<!DOCTYPE html>
<html lang="en">
<head>
	<meta name = 'viewport' content='width=device-width, initial-scale=1'>
<title>Portfolio</title>
<meta charset = "UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/portfolio.css"/>
<script src="js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<div class = "header">
			<ul class = "nav nav-pills nav-justified">
			<li ><a href = "index.html">home</a></li>
			<li ><a href = "aboutus.html">about us</a></li>
			<li class = "active"><a href = "gallery.html">gallery</a></li>
			<li ><a href = "join.html">interested?</a></li>
			</ul>
	</div>

<div class = "content">

	<div class = "col-sm-6 col-md-4">
		<img src = "static/photoshoot/3.jpg"></a>
	</div>
	<div class = "col-sm-6 col-md-4">
		<img src = "static/photoshoot/4.jpg"></a>
	</div>
	<div class = "col-sm-6 col-md-4">
		<img src = "static/photoshoot/5.jpg"></a>
	</div>
	<div class = "col-sm-6 col-md-4">
		<img src = "static/photoshoot/6.jpg"></a>
	</div>
	<div class = "col-sm-6 col-md-4">
		<img src = "static/photoshoot/7.jpg"></a>
	</div>
	<div class = "col-sm-6 col-md-4">
		<img src = "static/photoshoot/8.jpg"></a>
	</div>
	<div class = "col-sm-6 col-md-4">
		<img src = "static/photoshoot/9.jpg"></a>
	</div>
	<div class = "col-sm-6 col-md-4">
		<img src = "static/photoshoot/10.jpg"></a>
	</div>
	<div class = "col-sm-6 col-md-4">
		<img src = "static/photoshoot/11.jpg"></a>
	</div>
	<div class = "col-sm-6 col-md-4">
		<img src = "static/photoshoot/12.jpg"></a>
	</div>
	<div class = "col-sm-6 col-md-4">
		<img src = "static/photoshoot/13.jpg"></a>
	</div>
	<div class = "col-sm-6 col-md-4">
		<img src = "static/photoshoot/14.jpg"></a>
	</div>
	<div class = "col-sm-6 col-md-4">
		<img src = "static/photoshoot/1.jpg"></a>
	</div>
</div>
	<div class = "footer">
		<p>Copyright &copy; Jason Qin from University of Michigan<a href="http://umich.edu">University of Michigan</a>.</p>
	</div>
</body>
</html>